
{% if user.is_authenticated %}
Авторизовано як {{ user.username }}

<a href="{% url 'createtodo' %}">Додати завдання</a>
<a href="{% url 'currenttodos' %}">Список завдань</a>
<a href="{% url 'completedtodos' %}">Завершені завдання</a>

<form action="{% url 'logoutuser' %}" method="POST">
{% csrf_token %}
<br>
<button type="submit">Вийти</button>
</form>


{% else %}

<a href="{% url 'signupuser' %}">Зареєструватися</a>
<a href="{% url 'loginuser' %}">Ввійти</a>

{% endif %}
<br>
<br>


{% block content  %} {% endblock %}
